.header {
    background: rgb(184, 182, 182);
    padding: 4px 7px;
}

.content {
    padding: 4px 7px;
}

.card {
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgb(139, 135, 135);
    background: #f1f2f3;
    overflow: hidden;
}